html, body{
	height: 100%;
}

html{
  font-size: 1rem;
}

body{
  padding-top: 75px;
  //background-color: #ddd;
}

.pie-pagina{
  background-color: #F8A5B9;
}

.navbar{
	background-color: #F8A5B9 !important;
	padding-bottom: 1px;
  -webkit-box-shadow: 0px 10px 9px 2px rgba(153,153,153,0.4);
  -moz-box-shadow: 0px 10px 9px 2px rgba(153,153,153,0.4);
  box-shadow: 0px 10px 9px 2px rgba(153,153,153,0.4);
}

.nav-link{
  margin-left: 40px;
  margin-right: 40px;
}
  
.nav-item.active{
  background-color: white !important;
  border-radius: 25px;
  color: #222 !important;
}

.nav-item .dropdown-menu{
  background-color: #F8A5B9;
  border-radius: 0 0 5% 5%;
  z-index: 1029;
  border: none;
}

.nav-item .dropdown-menu .dropdown-item{
  background-color: #F8A5B9;
}

.custom-top-navbar{
	background-color: #AEDECE !important;
}

.custom-bottom-navbar{
	background-color: #F8A5B9 !important;
	height: 5px;
}

.wave {
  position: relative;
  top: -1px;
  height: 5px;
  border-top: 5px solid #F8A5B9;
  background: transparent;
  z-index: 1030;
}

.wave:before {
  position: absolute;
  content: '';
  top: -1px;
  height: 8px;
  width: 100%;
  background-size: 15px 15px;
  background-position: -5px -3px;
  background-image: -webkit-radial-gradient(50% 0%, circle, #F8A5B9 50%, transparent 55%);
  background-image: -moz-radial-gradient(50% 0%, circle, #F8A5B9 50%, transparent 55%);
  background-image: radial-gradient(circle at 50% 0%, #F8A5B9 50%, transparent 55%);
  z-index: 1030;
}

.wave-footer {
  position: relative;
  height: 5px;
  border-bottom: 5px solid #F8A5B9;
  background: transparent;
  width: 100%;
}

.wave-footer:before {
  position: absolute;
  content: '';
  bottom: 0px;
  height: 8px;
  width: 100%;
  background-size: 12px 12px;
  background-image: -webkit-radial-gradient(50% 100%, circle, #F8A5B9 50%, transparent 55%);
  background-image: -moz-radial-gradient(50% 100%, circle, #F8A5B9 50%, transparent 55%);
  background-image: radial-gradient(circle at 50% 100%, #F8A5B9 50%, transparent 55%);
}

section .container, section .container-fluid{
  //background-color: white;
  margin-top: 10px;
}

.imagen-inicio{
	background: url('../images/inicio.png') no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-position: center;
  width: 100%;
  height: 400px;
}

.carousel-item{
  object-fit: cover;
}

//tab_productos
#tab_productos .nav-item .nav-link{
  color: #555;
  background-color: transparent !important;
  border: none !important;
}

#tab_productos .nav-item .nav-link.active{
  color: #555;
  background-color: #F8A5B9 !important;
  border: none !important;
  
}

#tab_productos .nav-item{
  width: 50% !important;
}

//Min device
@media (min-width: 576px) {

}
@media (min-width: 768px) {

  section ,section .container, section .container-fluid{
    height: 100%;
  }

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}

//Max device
@media (max-width: 575.98px) {

}
@media (max-width: 767.98px) {

  section .container, section .container-fluid{
    height: auto;
  }
}
@media (max-width: 991.98px) {

}
@media (max-width: 1199.98px) {

}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}